################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TopProcess/bin/Debug/TopProcess.pdb
/TopProcess/bin/Debug/TopProcess.exe.config
/TopProcess/bin/Debug/TopProcess.exe
/TopProcess/bin/Debug
/TopProcess/.vs/TopProcess/v15
/TopProcess/obj/x86/Debug
/TopProcess/bin/Release
/TopProcess/obj/x86/Release
